# GitHub and Version Control
export GITHUB_TOKEN=ghp_1234567890abcdefghijklmnopqrstuvwxyz
export GITHUB_API_KEY=$GITHUB_TOKEN
export HOMEBREW_GITHUB_API_TOKEN=github_pat_1234567890abcdefghijklmnopqrstuvwxyz

## Azure
export AZURE_OPENAI_API_KEY=1234567890abcdefghijklmnopqrstuvwxyz

# AI and Machine Learning APIs
export ANTHROPIC_API_KEY=sk-ant-api03-1234567890abcdefghijklmnopqrstuvwxyzABCDEF
export ANTHROPIC_MODEL=claude-2
export OPENAI_API_KEY=sk-1234567890abcdefghijklmnopqrstuvwxyzABCDEF
export COHERE_API_KEY=1234567890abcdefghijklmnopqrstuvwxyz
export HUGGINGFACE_API_KEY=hf_1234567890abcdefghijklmnopqrstuvwxyz
export REPLICATE_API_TOKEN=r8_1234567890abcdefghijklmnopqrstuvwxyz
export STABILITY_AI_KEY=sk-1234567890abcdefghijklmnopqrstuvwxyz
export VERTEX_AI_API_KEY=AIzaSyA1234567890abcdefghijklmnopqrstuvwxyz
export VOYAGE_API_KEY=vg_1234567890abcdefghijklmnopqrstuvwxyz

# Other APIs
export ASSEMBLYAI_API_KEY=1234567890abcdefghijklmnopqrstuvwxyz
export FIREBASE_API_KEY=AIzaSyA1234567890abcdefghijklmnopqrstuvwxyz
export KHOJ_API_KEY=1234567890abcdefghijklmnopqrstuvwxyz
export LANGFUSE_PUBLIC_KEY=pk_1234567890abcdefghijklmnopqrstuvwxyz
export LANGFUSE_SECRET_KEY=sk_1234567890abcdefghijklmnopqrstuvwxyz
export LANGSMITH_TRACING=true
export LANGSMITH_API_KEY=lsv2_sk_...
export SLACK_API_KEY=xoxb-1234567890-1234567890123-1234567890abcdefghijklm
export WOLFRAM_ALPHA_API_KEY=ABCDEF-1234567890
